html
  head
    title Broke AF
    link(rel = "stylesheet", href = "main.css")
  body
    div(id="meh")
      div
        h1 Broke AF Form

        form(action="/form", method="POST")
          input(placeholder = "Employer", name = "employer", class = "classy")
          br
          br
          input(placeholder = "Job Title", name = "title", class = "classy")
          br
          br
          input(placeholder = "Description", name = "description", class = "classy")  
          br
          br
          input(placeholder = "Wage", name = "wage", class = "classy")
          br
          br
          input(placeholder = "Phone Number", name = "contact", class = "classy")
          br
          br
          input(placeholder = "Website", name = "website", class = "classy")
          br
          br
          input(placeholder = "Email", name = "email", class = "classy")
          br
          br
          select(name = "category", class = "classy")
            option(value = "janitorial") Janitorial
            option(value = "secretarial") Secretarial
            option(value = "retail") Retail
            option(value = "hospitality") Hospitality
            option(value = "miscellaneous") Miscellaneous
          br
          br
          button(class = "button") Submit

        div
          each job in jobs
            div
              p #{job.time} - Employer: #{job.employer} 
              p Job Title: #{job.title} 
              p Category #{job.category} –– Job Description: #{job.description}
              p Wage: #{job.wage} 
              p Telephone Number: #{job.contact}
              p Website: #{job.website}
